/* Fonts */
@font-face {
  font-family: "Monserrat Light";
  src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Monserrat Medium";
  src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Monserrat Semi Bold";
  src: url("../fonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Monserrat Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}

/* Général */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Monserrat Medium';
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.home .content {
  width: 100%;
  max-width: 800px;
}

form {
  width: 100%;
  margin: 20px 0 20px 0;
}

form *:not(span) {
  margin: 10px 0 10px 0;
}

form p {
  text-align: justify;
}

input:not([type=radio]):not([type=checkbox]), select {
  width: 90%;
  margin: 10px;
  height: 45px;
  background: #ffffff;
}

form textarea {
  margin-top: 0;
  margin-bottom: 0;
  resize: none;
  width: 90%;
  height: 100px;
}

form textarea:first-of-type:not(:only-of-type) {
  border-bottom: none;
}

form textarea:nth-of-type(2n) {
  border-top: none;
  border-bottom: none;
}

form textarea:last-of-type:not(:only-of-type) {
  border-top: none;
}

.full-size {
  width: 100%;
}

.no-margin {
  margin: 0 !important
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

/* Textes */
h1, h2 {
  text-align: center;
  margin: 0;
  text-transform:uppercase;
  font-size: 17px;
  font-weight: bold;
}

h3 {
  margin: 5px;
  color: #ffffff;
  font-family: 'Monserrat Semi Bold';
}

a {
  color: #358565;
  text-decoration: none;
}

.under {
  text-decoration: underline;
}

.small-text {
  font-size: 15px;
}

/* Couleur */
.blanc {
  color: #ffffff;
}

.noir {
  color: #122b33;
}

.vert {
  color: #5be79b;
}

.vert-fonce {
  color: #358565;
}

.saumon {
  color: #ff7c66;
}

.gris-clair {
  color: #8c979b;
}

.bg-blanc {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.bg-noir {
  background-color: #122b33;
  border: 1px solid #122b33;
}

.bg-vert {
  background-color: #5be79b;
  border: 1px solid #5be79b;
}

.bg-vert-fonce {
  background-color: #358565;
  border: 1px solid #358565;
}

.bg-saumon {
  background-color: #ff7c66;
  border: 1px solid #ff7c66;
}

.bg-gris-clair {
  background-color: #8c979b;
  border: 1px solid #8c979b;
}

.border-blanc {
  border: 1px solid #ffffff;
}

.border-noir {
  border: 1px solid #122b33;
}

.border-vert {
  border: 1px solid #5be79b;
}

.border-vert-fonce {
  border: 1px solid #358565;
}

.border-saumon {
  border: 1px solid #ff7c66;
}

.border-gris-clair {
  border: 1px solid #8c979b;
}

/* Positons */
.flex {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -khtml-flex;
}

.center {
  align-items: center;
  -ms-flex-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -khtml-align-items: center;
  justify-content: center;
  -ms-flex-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -khtml-justify-content: center;
}

.column {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -khtml-flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -khtml-flex-wrap: wrap;
}

/* Éléments*/
button:not(#viewPassword) {
  border-radius: 30px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
}

/* Page de connexion*/

.erreur {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}

div.home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

div.home h1, div.home label {
  font-weight: bold;
  font-size: 14px;
}

.logo-accueil-deco {
  width: 100%;
  height: 80px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#connexion-div a {
  width: 100%;
}

#connexion-form {
  margin: 20px;
}

/* Page de liens pour inscription*/
form#registerForm section { 
    position: relative; 
}

.formulaires {
  margin-top: 40px;
}
.password + .unmask {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 35px;
  height: 30px;
  text-indent: -9999px;
  background-color: rgb(255, 255, 255);
  border: none;
}
.password + .unmask:before {
  content: "";
  position:absolute;
  top:4px; left:4px;
  z-index:1;
  width: 30px;
  height: 30px;
  background-image: url('../images/eye.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.password[type="text"] + .unmask:after {
  content: "";
  position:absolute;
  top:6px; left:6px
  z-index:2;
  width: 13px;
  height: 13px;
  background: #aaa;
  border-radius: 50%;
}

/* Header */
header {
  align-items: center;
  -webkit-align-items: center;
  -khtml-align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  justify-content: space-between;
  -o-justify-content: space-between;
  -khtml-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  padding: 10px;
}

.logo-menu {
  background-image: url('../images/logo-menu.png');
  height: 40px;
  width: 62px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.compte-menu {
    background-image: url('../images/compte-menu.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.message-menu {
    background-image: url('../images/message-menu.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 34px;
    background-size: contain;
    margin-right: 35px;
}
.header2 {
    align-items: center;
    -webkit-align-items: center;
    -khtml-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: flex-end;
    -o-justify-content:  flex-end;
    -khtml-justify-content:  flex-end;
    -webkit-justify-content:  flex-end;
    -ms-justify-content:  flex-end;
    -moz-justify-content:  flex-end;
    padding: 10px;
}

.header2 h2 {
  width: 100%;
}
.header2 h2 .margin-left {
  margin-left: 15px;
}

.fleche-droite {
  width: 15px;
  height: 27px;
  margin-right: 10px;
}

/* Accueil */
.tableau-de-bord {
  height: calc(100vh - 300px);
}

.container .flex a {
  width: 48%;
  height: 33%;
  margin: 1%;
}

#container-accueil {
  height: calc(100vh - 165px);
}

#container-accueil a.flex.center.column * {
  height: 48%;
}

.icone {
  max-height: 100px;
}

/* Offres */
.list-offres {
  padding: 10px;
}

.list-offres h3 {
  font-size: 15px;
}

.offre {
  margin: 10px 0 0 0;
  padding: 3px;
}

.bloc-offre {
  overflow: hidden;
}

.bloc-offre-text {
  width: 65%;
}

.bloc-offre-image {
  width: 35%;
}

.noskew {
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}

#parallelogram {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
}

.parallelogram-text {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.titre-offre {
  font-size: 14px;
  font-weight: bold;
}

.parallelogram-text p {
  margin: 10px 5px 10px 15px;
  line-height: 0.8em;
}

.parallelogram-text p span {
  display: inline-block;
  margin: 5px 0 0 0;
}

.ico-mini {
  height: 12px;
  width: auto;
}

.date-lieu {
  font-size: 11px;
}

.description {
  font-size: 12px;
}

.parallelogram-img {
  margin: 0 0 0 20px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.image {
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Messages */

.list-messages {
  padding: 10px;
}

.list-messages h3 {
  font-size: 15px;
  margin: 5px 0 5px 0;
}
.message-link:not(:first-of-type) {
  margin: 10px 0 0 0;
}
.message-link {
  padding: 5px;
}

.message-excerpt {
  max-width: 70%;
  font-size: 12px;
}
.conversation {
  padding: 10px;
}

.message-div {
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.3;
  position: relative;
}

.message-div-droite {
  border-bottom-right-radius: 2px;
}

.message-div-gauche {
  border-bottom-left-radius: 2px;
}

.message {
  font-size: 13px;
  margin: 0;
}

.message-date {
  font-size: 11px;
  margin: 0;
}

.message-input {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

/* Footer */
.footer {
  height: 50px;
}
.feedback-link {
  font-size: 14px;
  text-decoration: underline;
}
