/* Fonts */

@font-face {
 font-family: "Monserrat Light";
 src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
 font-family: "Monserrat Medium";
 src: url("../fonts/Montserrat-Medium.otf");
}
@font-face {
 font-family: "Monserrat Semi Bold";
 src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
 font-family: "Monserrat Bold";
 src: url("../fonts/Montserrat-Bold.otf");
}



/* Général */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Monserrat Medium';
}

.content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.home .content {
    width: 100%;
    max-width: 800px;
}

form {
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
}
form *:not(span) {
    margin: 10px 0 10px 0;
}
form p {
    text-align: justify;
}
input:not([type=radio]):not([type=checkbox]), select {
    width: 90%;
    margin: 10px;
    height: 45px;
    background: #ffffff;
}
form textarea {
    margin-top: 0;
    margin-bottom: 0;
    resize: none;
    width: 90%;
    height: 100px;
}
form textarea:first-of-type:not(:only-of-type) {
    border-bottom: none;
}
form textarea:nth-of-type(2n) {
    border-top: none;
    border-bottom: none;
}
form textarea:last-of-type:not(:only-of-type) {
    border-top: none;
}
.full-size {
    width: 100%;
}
.no-margin {
    margin: 0 !important
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

/* Textes */
h1, h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
}
h3 {
    margin:5px;
    color: #ffffff;
    font-family: 'Monserrat Semi Bold';
}
a {
    color:#358565;
    text-decoration: none;
}
.under {
    text-decoration: underline;
}
.small-text {
    font-size: 15px;
}

/* Couleur */
.blanc {
    color: #ffffff;
}
.noir {
    color: #122b33;
}
.vert {
    color: #5be79b;
}
.vert-fonce {
    color: #358565;
}
.saumon {
    color: #ff7c66;
}
.gris-clair {
    color: #8c979b;
}
.bg-blanc {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.bg-noir {
    background-color: #122b33;
    border: 1px solid #122b33;
}
.bg-vert {
    background-color: #5be79b;
    border: 1px solid #5be79b;
}
.bg-vert-fonce {
    background-color: #358565;
    border: 1px solid #358565;
}
.bg-saumon {
    background-color: #ff7c66;
    border: 1px solid #ff7c66;
}
.bg-gris-clair {
    background-color: #8c979b;
    border: 1px solid #8c979b;
}
.border-blanc {
    border: 1px solid #ffffff;
}
.border-noir {
    border: 1px solid #122b33;
}
.border-vert {
    border: 1px solid #5be79b;
}
.border-vert-fonce {
    border: 1px solid #358565;
}
.border-saumon {
    border: 1px solid #ff7c66;
}
.border-gris-clair {
    border: 1px solid #8c979b;
}

/* Positons */
.flex {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -khtml-flex;
}

.center {
    align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -khtml-align-items: center;
    justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    -khtml-justify-content: center;
}
.column {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -khtml-flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
}

/* Éléments*/
button {
    border-radius: 30px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}



/* Page de connexion*/
div.home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.home h1,div.home label {
    color: #ffffff;
}

.logo-accueil-deco {
    width: 100%;
    height: 150px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#connexion-div a{
    width: 100%;
}
#connexion-form{
    margin: 20px;
}



/* Page de liens pour inscription*/

.formulaires {
    margin-top: 40px;
}



/* Menu */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.main {
	max-width: 69em;
	min-height: 600px;
	padding: 2em 0 0 0;
}

.side {
	float: right;
	width: 30%;
	padding-right: 20px;
	min-width: 320px;
	box-shadow: 1px 0 rgba(0,0,0,0.1);
}

.main p {
	font-size: 2em;
	padding: 0 1em;
	margin: 0;
	line-height: 1.5;
	float: right;
	width: 70%;
}

.container > header {
	padding: 2.875em 1.875em 2.875em;
	text-align: center;
	background: rgba(0,0,0,0.02);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #fff;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: rgba(255,255,255,0.7);
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.85);
	text-transform: uppercase;
	position: relative;
	font-size: 0.68em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.99);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

@media screen and (max-width: 66.9375em) {
	.side, .main p {
		float: none;
		width: 100%;
		box-shadow: none;
		padding: 1em;
	}

	.main p {
		font-size: 130%;
	}
}



/* Accueil */

.tableau-de-bord {
    height: calc(100vh - 300px);
}
.container .flex a {
    width: 48%;
    height: 33%;
    margin: 1%;
}

#container-accueil {
    height: calc(100% - 125px);
}

#container-accueil a.flex.center.column * {
    height: 48%;
}
.icone {
    max-height: 100px;
}


/* Offres */
.list-offres {
    padding: 10px;
}

.offre:not(:last-of-type){
    margin-bottom: 10px;
    display: block;
}

.oblique-gauche {
    width:70%;
}
.oblique-droite {
    width:30%;
}
.img-offre {
    max-width: 100%;
    background-size:cover; 
    height:100%;
    background-repeat: no-repeat;'
}
.list-offres h3 {
    font-size: 15px;
}
.description {
    font-size: 12px;
    margin: 5px;
}
.date-lieu {
    font-size: 11px;
    margin: 0 5px 0 5px;
}

/* Messages */
.conversation {
    padding-bottom: 20px;
}
.message-div {
    display: inline-block;
    padding: 10px;
    margin: 15px 15px 0 15px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.3;
    position: relative;
}
.message-div-droite {
    border-bottom-right-radius: 0px;
}
.message-div-gauche {
    border-bottom-left-radius: 0px;
}

.message-div:last-of-type {
    margin-bottom: 15px;
}

.fleche {
    border-left: 21px solid transparent;
    bottom: -25px;
    position: absolute;
    right: 15px;
}
.fleche-droite {
    right: -5px;
}
.fleche-droite::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #5be79b;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 4px;
}
.fleche-droite::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #ffffff;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 5px;
}
.fleche-gauche {
    left: -5px;
}
.fleche-gauche::before {
    border-right: 23px solid transparent;
    border-top: 23px solid #ff7c66;
    bottom: 2px;
    content: "";
    position: absolute;
    left: -17px;
}
.fleche-gauche::after {
    border-right: 21px solid transparent;
    border-top: 21px solid #ffffff;
    bottom: 4px;
    content: "";
    position: absolute;
    left: -16px;;
}
.message {
    font-size: 13px;
}

.message-date {
    font-size: 11px;
}
.message-input {
    border-radius: 10px;
    padding:5px;
    margin: 5px;
}
